{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TitlePlaceholder</title>
  </head>
  <body>
    <h1>Upload Image</h1>
    <img id="uploaded-image" src="/templates/placeholder.PNG" alt="default image">
<!--    <img id="uploaded-image" src="placeholder.PNG" alt="default image">-->
    <br>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file-input">
      <br>
      <input type="submit" value="Upload">
    </form>

    <script>
      const fileInput = document.getElementById("file-input");
      const uploadedImage = document.getElementById("uploaded-image");

      fileInput.addEventListener("change", function() {
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function() {
          uploadedImage.src = reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          uploadedImage.src = "{{ url_for('static', filename='default-image.jpg') }}";
        }
      });
    </script>
  </body>
</html>

{% endblock %}